<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadrover">

  <xacro:arg name="drive_mode" default="diff_drive"/>

  <xacro:property name="wheel_joint_type" value="continuous"/>
  <xacro:property name="drive_mode" value="$(arg drive_mode)"/>
  <xacro:property name="chassis_length" value="0.6"/>

  <xacro:include filename="chassis.xacro"/>
  <xacro:include filename="imu.xacro"/>
  <xacro:include filename="lidar.xacro"/>
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="$(find quadrover_control)/urdf/drive_plugins.xacro"/>
  <xacro:include filename="gazebo_plugins.xacro"/>

</robot>
